#background-video 
{
    width: 100vw;
    height: 100vh;
    object-fit: cover;
    position: fixed;
    left: 0;
    right: 0;
    top: 0;
    bottom: 0;
    z-index: -1;
    opacity: 0.75;
}

.container
{
    width: 100%;
    height: 100%;
}
/*--------------------------------------------------------------------------------------------------------------------------------*/
.ToDo
{
  height: 91%;
  width: 15%;
  margin-left: 35px;
  margin-top: 30px;
  border-radius: 20px;
  opacity: 0.8;
  float: left;
}

.textbox
{
  background-color: #A3B18A;
  text-align: center;
  height: 91%;
  width: 24%;
  position: absolute;
  margin: 10px;
  color: white;
  border-radius: 20px;
}

#list
{
  margin-top: 5px;
  margin-left: 10px;
  height: 83%;
  width: 330px;
  overflow-y: scroll;
  overflow-x: hidden;
}

::-webkit-scrollbar
{
  width: 10px;
}

::-webkit-scrollbar-track 
{
  background: rgba(255, 255, 255, 0); 
  border-radius: 10px;
}
    

::-webkit-scrollbar-thumb 
{
  background: #B7C2A4; 
  border-radius: 10px;
}
    

::-webkit-scrollbar-thumb:hover 
{
  background: #AAB793; 
}

* 
{
  box-sizing: border-box;
}

#myUL 
{
  margin: 0;
  padding: 0;
  font-family: 'Raleway', sans-serif;
  font-size: large;
}

ul li 
{
  cursor: pointer;
  position: relative;
  padding: 12px 8px 12px 40px;
  background: #A3B18A;
  font-size: 18px;
  transition: 0.2s;
    
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
}

ul li:nth-child(odd) 
{
  background: #B0BD9B;
}

ul li:hover 
{
  background: #99A87D;
}

ul li.checked 
{
  background: #8E9F70;
  color: white;
  text-decoration: line-through;
}

ul li.checked::before 
{
  content: '';
  position: absolute;
  border-color: #fff;
  border-style: solid;
  border-width: 0 2px 2px 0;
  top: 10px;
  left: 16px;
  transform: rotate(45deg);
  height: 15px;
  width: 7px;
}

.close 
{
  position: absolute;
  right: 0;
  top: 0;
  padding: 12px 16px 12px 16px;
}

.close:hover 
{
  color: #f44336;
}

input
{
  background-color: #B0BD9B;
  border-top: none;
  border-left: none;
  border-right: none;
  border-bottom: 3px;
  border-bottom: white;
  /*border-width: 3px;*/
  /*margin-left: -110px;*/
  color: white;
  height: 30px;
  width: 260px;
  border-radius: 15px;
  font-family: 'Raleway', sans-serif;
  font-size: large;
}

::placeholder
{
  color: white;
}

.addBtn
{
  display: inline-block;
  background-color: #B0BD9B;
  border-radius: 10px;
  height: 30px;
  width: 55px;
  cursor: pointer;
  margin-bottom: 2px;
  text-align: center;
  outline: none;
  border: none;
  color: white;
  font-family: 'Raleway', sans-serif;
  font-size: large;      
}

input:focus
{
  outline: none;
}

#ToDoHeading
{
  font-family: 'DM Serif Display', serif;
  letter-spacing: 2.5px;
}
/*-------------------------------------------------------------------------------------------------------------------------------*/

#timer
{
  height: 92.5%;
  width: 70%;
  background-color: #a3b18a;
  margin-top: 40px;
  margin-right: 20px;
  border-radius: 20px;
  opacity: 0.8;
  float: right;
  text-align: center;
  padding-top: 5%;
} 

#countdown
{
  font-family: 'DM Serif Display', serif;
  font-size: 12em;
  color: white;
}

#start, #pause, #reset
{
  border-radius: 10px;
  background-color: #B0BD9B;
  color: white;
  font-family: 'Raleway', sans-serif;
  font-size: large;
  border: none;
  margin-top: 5px;
}

#start:hover, #reset:hover, #pause:hover
{
  background-color: #BDC8AC;
}

#hours, #minutes, #seconds
{
  border-radius: 10px;
  background-color: #B0BD9B;
  color: white;
  font-family: 'Raleway', sans-serif;
  font-size: large;
  border: none;
}

#hours:hover, #minutes:hover, #seconds:hover
{
  background-color: #BDC8AC;
}

#hours:focus, #minutes:focus, #seconds:focus
{
  outline: none;
}

#overlay 
{
  position: fixed; /* Sit on top of the page content */
  display: none; /* Hidden by default */
  width: 100%; /* Full width (cover the whole page) */
  height: 100%; /* Full height (cover the whole page) */
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: #a3b18ab0; /* Black background with opacity */
  z-index: 2; /* Specify a stack order in case you're using a different order for other elements */
  cursor: pointer; /* Add a pointer on hover */
}

#text
{
  position: absolute;
  top: 50%;
  left: 50%;
  font-size: 50px;
  color: white;
  transform: translate(-50%,-50%);
  -ms-transform: translate(-50%,-50%);
}

#fullscreen
{
  height: 25px;
  width: 25px;
  float: left;
  margin-top: -60px;
  cursor: pointer;
}

#exitFullscreen
{
  height: 25px;
  width: 25px;
  float: left;
  margin-top: -60px;
  cursor: pointer;
}

#exitFullscreen:hover, #fullscreen:hover
{
  height: 28px;
  width: 28px;
}

#hoursLabel, #minutesLabel, #secondsLabel
{
  font-family: 'DM Serif Display', serif;
  color: white;
}

#minutesLabel
{
  margin-left: 10px;
}

#secondslabel
{
  margin-left: 8px;
}
