body
{
    display: flex;
    flex-direction: column;
    height: 100vh;
    width: 100vw;
    overflow-x: hidden;
    overflow-y: auto;
    align-items: center;
    gap: 20px;
    font-family: 'Fanwood Text', serif;
}

button
{
    cursor: pointer;
    transition: 0.4s;
}

button.hidden
{
    display: none;
}

button:disabled
{
    opacity: 0.7;
    cursor: default;
}

button:hover:not(:disabled)
{
    background-color: rgb(200, 200, 200);
    transition: 0.4s;
}

#heading
{
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    gap: 10px;
    background-color: #FFFFFF;
    width: 100%;
    padding: 10px;
}

#heading.sticky
{
    position: fixed;
    top: 0;
}

.sticky+#result
{
    padding-top: 102px;
}

h1
{
    font-family: 'Fira Sans', sans-serif;
}

#colourInputs
{
    display: flex;
    gap: 10px;
}

#result
{
    display: flex;
    justify-content: center;
    flex-direction: column;
    gap: 10px;
    width: 500px;
}

.WCAG
{
    max-height: 1000px;
    transition: max-height, 0.3s, ease-in-out;
    overflow: hidden;
}

.hidden
{
    max-height: 0px;
    transition: max-height, 0.3s, ease-in-out;
}

#result span.hidden
{
    display: none !important;
}

input[type="color"]
{
    display: inline-flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 8px;
    flex-shrink: 0;
    border-radius: 100px;
    border: none;
}

::-webkit-color-swatch
{
    border-radius: 100px;
}

.toggle
{
    cursor: pointer;
}

button
{
    display: inline-flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 8px;
    flex-shrink: 0;
    border-radius: 100px;
    padding: 10px 18px;
    border: none;
}

.large
{
    font-size: 18pt;
}

.toggle:has(+ .WCAG:not(.hidden))>.arrow
{
    -webkit-transform: rotate(180deg);
    -moz-transform: rotate(180deg);
    -ms-transform: rotate(180deg);
    -o-transform: rotate(180deg);
    transform: rotate(180deg);
}

/*Fonts
font-family: 'Fanwood Text',
serif;
font-family: 'Fira Sans',
sans-serif;
font-family: 'Maitree',
serif;
*/